body{
    background-image: linear-gradient(to top right,#222120,#ff0844);
    background-position: right;
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
    height: 600px;
    width: 100%;
    margin: 0 auto;
}
#x{
    display: none;
}
#pitch{
    display: none;
}
header{
    width: 100%;
    height: 10%;
    display: flex;
    margin: 20px;
    margin: 0px;
    background-color: black;
    padding-top: 20px;
    position: fixed;
    top: 0;
}
#head1{
    height: 80%;
    width: 20%;
    color: white;
}
#head2{
    height: 80%;
    width: 60%;
    color: white;
    display: flex;
    gap: 20px;
    padding-left: 100px;
    margin-top: 10px;
}
#head3{
    height: 80%;
    width: 20%;
    display: flex;
    gap: 10px;
}
#circ{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: rgb(0, 0, 0);
    border: 1px white solid;
    
}
b{
    font-size: x-large;
    font-weight: bold;
    font-family: Verdana;
    color: white;
}
a{
    font-size: large;
    font-weight: lighter;
    font-family: arial narrow bold;
    color: white;
    text-decoration:none;
}
#b{
    font-size: xx-large;
    font-weight: bold;
    font-family: Verdana;
    color: blueviolet; 
}
p{
    color: white;
    margin-top: 140px;
    margin-left: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#p{
    color: white;
    margin-top: 0px;
    margin-left: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#name{
    font-size: 60px;
    margin-left: 80px;
}
#bt{
    display: flex;
    margin-left: 80px;
    gap: 10px;
    margin-top: 20px;
}
#btn1{
    width: 150px;
    height: 40px;
    background-color: blueviolet;
    color: white;
    border-radius: 20px 20px 20px 20px;
    border: none;
}
#btn2{
    width: 150px;
    height: 40px;
    background-color: black;
    border: 2px solid white;
    color: white;
    border-radius: 20px 20px 20px 20px;
}
#btn1:hover{
    background-color: white;
    color: blueviolet;
}
#btn2:hover{
    color: white;
    background-color: blueviolet;
}
a:hover{
    color: blueviolet;
}
#im{
    height: 20px;
    width: 20px;
    margin-top: 5px;
    margin-left: 5px;
}
#image{
    margin-top: -350px;
    margin-left: 900px;
    /* border: 2px solid blueviolet; */
    border-radius: 20px 20px 20px 20px;
    height: 70%;
    width: 300px;
}
#rim{
    border-radius: 20px 20px 20px 20px;
}
#about{
    background-color: white;
    height: 80%;
    width: 100%;
}
#abt{
    font-size: large;
    font-weight: bold;
    color: #222120;
    margin-left: 600px;
}
#tx{
    font-size: 50px;
    font-weight: bolder;
    color: #222120;
    margin-top: 280px;
    margin-left: 600px; 
}
#txt{
    font-size: large;
    font-weight: bold;
    color: #222120;
    margin-top: 0px;
    margin-left: 600px;
}
#txt2{
    font-size: 50px;
    font-weight: bolder;
    color: #222120;
    margin-top: 300px;
    margin-left: 600px; 
}
#hold{
    /* border: 2px solid blueviolet; */
    border-radius: 100px 100px 100px 100px;
    height: 80%;
    width: 250px;
    background-color: red;
    background-image: url(images/images\ \(2\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -300px;
    margin-left: 110px;
}
#hold2{
    /* border: 2px solid blueviolet; */
    border-radius: 100px 100px 100px 100px;
    height: 60%;
    width: 150px;
    background-color: red;
    background-image: url(images/images\ \(1\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -300px;
    margin-left: 400px;
}
#services{
    background-color: rgb(255, 255, 255);
    height: 75%;
    width: 100%;
    gap: 10px;
    padding-left: 20px;
}
#ser{
    height: 80%;
    width: 30%;
    background-color: rgb(230, 224, 235);
    border-radius: 30px 30px 30px 30px;
}
#serv{
    font-size: xx-large;
    margin-left: 500px;
    font-weight: bolder;
    color: black;
}
#service{
    background-color: rgb(255, 255, 255);
    height: 90%;
    width: 100%;
    display: flex;
    gap: 10px;
    margin-top: 10px;
    padding-left: 20px;
}
#gim{
    margin-top: 50px;
    margin-left: 50px;
}
#pin{
    font-size: xx-large;
    font-weight: bold;
    color: black;
    margin-top: 10px;
    margin-left: 30px;
}
#pil{
    color: black;
    margin-top: -40px;
    margin-left: 20px;
}
#portfolio{
    height: 100%;
    width: 100%;
    background-color: white;
}
#portf{
    height: 80%;
    width: 100%;
    background-color: white;
}
#prt{
    font-size: xx-large;
    font-weight: bold;
    color: black;
    margin-left: 550px;
}
#gallery{
    height: 50%;
    width: 100%;
    /* background-color: green ; */
    display:flex;
    gap: 5px;
    padding-left: 60px;
}
#gall{
    height: 100%;
    width: 30%;
    background-color: #222120;
    background-image: url(images/F257.webp);
    background-size: cover;
}
#gall2{
    height: 100%;
    width: 30%;
    background-color: #222120;
    background-image: url(images/F3.webp);
    background-size: cover;
}
#gall3{
    height: 100%;
    width: 30%;
    background-color: #222120;
    background-image: url(images/F31webp.webp);
    background-size: cover;
}
#gall4{
    height: 100%;
    width: 30%;
    background-color: #222120;
    background-image: url(images/F36.webp);
    background-size: cover;
}
#gall5{
    height: 100%;
    width: 30%;
    background-color: #222120;
    background-image: url(images/F38.webp);
    background-size: cover;
}

#gall6{
    height: 100%;
    width: 30%;
    background-color: #222120;
    background-image: url(images/F39.webp);
    background-size: cover;
}
#reviews{
    height: 45%;
    width: 100%;
    background-color: white;

}
#rev{
    margin-left: 550px;
}
#red{
    width: 100%;
    height: 90%;
    display: flex;
    padding-left: 50px;
    gap: 10px;
}
#rew{
    height: 100%;
    width: 30%;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-radius: 40px 40px 40px 40px;
    /* background-color: black; */
}
#cirt{
    height: 130px;
    width: 130px;
    background-color: black;
    border-radius: 100%;
    margin-top: 20px;
    background-image: url(images/40215.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
#pric{
    color: rgb(0, 0, 0);
    margin-top: -70px;
    margin-left: 150px;
}
#olu{
    color: rgb(0, 0, 0);
    margin-left: 40px;
}
#pric2{
    color: blueviolet;
    margin-top: -7px;
    margin-left: 60px;
}
#contact{
    height: 40%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    margin-top: 0px;
    display: flex;
    padding-left: 50px;
}
#cont{
height: 100%;
width: 30%;
margin-left: 0px;
}
#co{
    margin: 0;
}
@media screen and (max-width:900px) {
    body{
        background-image: linear-gradient(to top right,#222120,#ff0844);
        background-position: right;
        background-color: black;
        background-repeat: no-repeat;
        background-size: contain;
        height: 900px;
        width: 100%;
        margin: 0 auto;
    }
    #head2{
        height: 580%;
        width: 40%;
        color: rgb(0, 0, 0);
        display: none;
        flex-direction: column;
        gap: 20px;
        padding-left: 40px;
        margin-top: 40px;
        background-color: aliceblue;
        margin-left: 35px;
        /* display: ; */
    }
    a{
        font-size: large;
        font-weight: lighter;
        font-family: arial narrow bold;
        color: rgb(0, 0, 0);
        text-decoration:none;
        border-bottom: 1px solid black;
    }
    #head3{
        height: 80%;
        width: 20%;
        display: none;
        gap: 10px;
    }
    header{
        width: 100%;
        height: 40px;
        display: flex;
        margin: 0px;
        background-color: rgb(0, 0, 0);
        padding-top: 20px;
        position: fixed;
    }
    p{
        color: white;
        margin-top: 140px;
        margin-left: 30px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    #p{
        color: white;
        margin-top: 0px;
        margin-left: 10px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    #name{
        font-size: 25px;
        margin-left: 10px;
    }
    #bt{
        display: flex;
        margin-left: 10px;
        gap: 10px;
        margin-top: 20px;
    }
    #btn1{
        width: 150px;
        height: 40px;
        background-color: blueviolet;
        color: white;
        border-radius: 20px 20px 20px 20px;
        border: none;
    }
    #btn2{
        width: 150px;
        height: 40px;
        background-color: black;
        border: 2px solid white;
        color: white;
        border-radius: 20px 20px 20px 20px;
    }
    #btn1:hover{
        background-color: white;
        color: blueviolet;
    }
    #btn2:hover{
        color: white;
        background-color: blueviolet;
    }
    #image{
        margin-top: -350px;
        margin-left: 140px;
        /* border: 2px solid blueviolet; */
        border-radius: 20px 20px 20px 20px;
        height: 368.4px;
        width: 245.8px;
        position: relative;
        z-index: -1000;
        border-radius: 20px 20px 20px 20px;
        background-image: url(images/IMG_5051-Enhanced-NR.jpg);
        background-repeat: no-repeat;
        background-size: contain;
    }
    #rim{
        border-radius: 20px 20px 20px 20px;
        height: 100%;
        display: none;
        /* width: ; */
    }
    #about{
        background-color: white;
        height: 60%;
        width: 100%;
    }
    #abt{
        font-size: large;
        font-weight: bold;
        color: #222120;
        margin-left: 0px;
    }
    #tx{
        font-size: 50px;
        font-weight: bolder;
        color: #222120;
        margin-top: 280px;
        margin-left: 0px; 
        text-shadow: white ;
    }
    #txt{
        font-size: large;
        font-weight: bold;
        color: #222120;
        margin-top: 0px;
        margin-left: 0px;
        display: none;
    }
    #txt2{
        font-size: 50px;
        font-weight: bolder;
        color: #222120;
        margin-top: 300px;
        margin-left: 0px; 
    }
    #hold{
        /* border: 2px solid blueviolet; */
        border-radius: 100px 100px 100px 100px;
        height: 50%;
        width: 125px;
        background-color: red;
        background-image: url(images/images\ \(2\).jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-top: -400px;
        margin-left: 70px;
    }
    #hold2{
        /* border: 2px solid blueviolet; */
        border-radius: 100px 100px 100px 100px;
        height: 35%;
        width: 75px;
        background-color: red;
        background-image: url(images/images\ \(1\).jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-top: -270px;
        margin-left: 200px;
    }  
    #services{
        background-color: rgb(255, 255, 255);
        height: 110%;
        width: 100%;
        gap: 10px;
        padding-left: 20px;
        margin-top: -90px;
    }
    #ser{
        height: 80%;
        width: 80%;
        background-color: rgb(230, 224, 235);
        border-radius: 30px 30px 30px 30px;
    }
    #serv{
        font-size: xx-large;
        margin-left: 500px;
        font-weight: bolder;
        color: black;
    }
    #service{
        background-color: rgb(255, 255, 255);
        height: 90%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
        padding-left: 20px;
    }
    #gim{
        margin-top: 50px;
        margin-left: 50px;
    }
    #pin{
        font-size: xx-large;
        font-weight: bold;
        color: black;
        margin-top: 10px;
        margin-left: 30px;
    }
    #pil{
        color: black;
        margin-top: -40px;
        margin-left: 20px;
    }
    #portfolio{
        height: 200%;
        width: 100%;
        background-color: white;
    }
    #portf{
        height: 100%;
        width: 100%;
        background-color: white;
    }
    #prt{
        font-size: xx-large;
        font-weight: bold;
        color: black;
        margin-left: 0px;
    }
    #gallery{
        height: 40%;
        width: 100%;
        /* background-color: green ; */
        display:flex;
        flex-direction: column;
        gap: 5px;
        padding-left: 10px;
    }
    #gall{
        height: 100%;
        width: 80%;
        background-color: #222120;
        background-image: url(images/F257.webp);
        background-size: cover;
    }
    #gall2{
        height: 100%;
        width: 80%;
        background-color: #222120;
        background-image: url(images/F3.webp);
        background-size: cover;
    }
    #gall3{
        height: 100%;
        width: 80%;
        background-color: #222120;
        background-image: url(images/F31webp.webp);
        background-size: cover;
    }
    #gall4{
        height: 100%;
        width: 80%;
        background-color: #222120;
        background-image: url(images/F36.webp);
        background-size: cover;
    }
    #gall5{
        height: 100%;
        width: 80%;
        background-color: #222120;
        background-image: url(images/F38.webp);
        background-size: cover;
    }
    
    #gall6{
        height: 100%;
        width: 80%;
        background-color: #222120;
        background-image: url(images/F39.webp);
        background-size: cover;
    }
    #reviews{
        height: 60%;
        width: 100%;
        background-color: white;
        margin-top: -300px;
    
    }
    #rev{
        margin-left: 0px;
    }
    #red{
        width: 100%;
        height: 40%;
        display: flex;
        padding-left: 20px;
        gap: 10px;
        flex-direction: column;
    }
    #rew{
        height: 80%;
        width: 80%;
        border-top: 2px solid black;
        border-right: 2px solid black;
        border-radius: 40px 40px 40px 40px;
        /* background-color: black; */
    }
    #cirt{
        height: 90px;
        width: 90px;
        background-color: black;
        border-radius: 100%;
        margin-top: 20px;
        background-image: url(images/40215.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    
    }
    #pric{
        color: rgb(0, 0, 0);
        margin-top: -70px;
        margin-left: 90px;
    }
    #olu{
        color: rgb(0, 0, 0);
        margin-left: 40px;
    }
    #pric2{
        color: blueviolet;
        margin-top: -7px;
        margin-left: 60px;
    }

    #contact{
        height: 40%;
        width: 100%;
        background-color: rgb(0, 0, 0);
        margin-top: 0px;
        display: flex;
        padding-left: 10px;
    }
    #cont{
    height: 100%;
    width: 30%;
    margin-left: 0px;
    }
    #co{
        margin: 0;
    }
    #x{
        font-size: xx-large;
        font-weight: bolder;
        color: white;
        margin-left: -50px;
        display: none;
    }    
    #pitch{
        display: inline;
        margin-left: 250px;
    }
    
}